.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

ul {
    list-style-type: none;
  }

.brand {
    background-color: white;
}

.nav,
.brand {
    flex: 1;
}

.nav {
    display: inline-flexbox;
}

a {
    justify-content: space-between;
    margin: 5px
}